<div>
    <form>
        <label for="query-input">Search query:</label>
        <input name="query-input" id="query-input"></input>
        <!--<label for="similarity">Similarity:</label>
        <select name="similarity" id="similarity">
          <option value="Euclidean">Euclidean</option>
          <option value="Pearson">Pearson</option>
        </select>
        <br />
        <button type="button" id="button-find-matching-users">Find top matching users</button>
        <button type="button" id="button-find-movies">Find recommended movies</button>-->
        <button type="button" id="button-search">Search</button>
        <label for="results">Results:</label>
        <input id="results" type="number" value="5" />
        <br /><br />
        <div id="spinner-container">
            <div class="spin"></div>
        </div>
        <table id="results-table" hidden>
            <tr>
                <th>Link</th>
                <th>Score</th>
                <th>Content</th>
                <th>Location</th>
                <th>PageRank</th>
            </tr>
            <tr>
                <td>Just My Luck</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </table>
    </form>
</div>
